@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media only screen and (max-width: 768px) {
  .dropdown {
    .nav__submenu {
      width: 35rem;
    }
  }
}
